openapi: 3.1.0
info:
  title: Box Public API v1
  version: 1.0.0
  description: |
    Public JSON API for creating, operating, prompting, observing, and exposing Box sandboxes from backend services, CI jobs, hosted workers, and Box automation products.

    The v1 reference intentionally documents the developer integration surface only. Dashboard billing actions are not part of v1.
servers:
  - url: https://ascii.dev/api/box/v1
security:
  - BoxBearerAuth: []
webhooks:
  boxLifecycle:
    post:
      summary: Box lifecycle event delivery
      operationId: deliverBoxLifecycleEvent
      description: At-least-once delivery to each subscribed endpoint. Separate events may arrive out of order. Return any 2xx status within 5 seconds to acknowledge the event.
      security: []
      parameters:
        - name: X-Ascii-Event
          in: header
          required: true
          schema: { $ref: '#/components/schemas/WebhookEventType' }
        - name: X-Ascii-Delivery
          in: header
          required: true
          schema: { type: string, pattern: '^evt_[a-f0-9]{32}$' }
        - name: X-Ascii-Timestamp
          in: header
          required: true
          schema: { type: string, pattern: '^[0-9]+$' }
        - name: X-Ascii-Signature
          in: header
          required: true
          description: HMAC-SHA256 over `delivery_id.timestamp.raw_body`, formatted as `v1=<hex>`.
          schema: { type: string, pattern: '^v1=[a-f0-9]{64}$' }
        - name: X-Ascii-Attempt
          in: header
          required: true
          schema: { type: integer, minimum: 1, maximum: 8 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookEvent' }
      responses:
        '2XX':
          description: Delivery accepted.
        default:
          description: Delivery will be retried with exponential backoff.
tags:
  - name: Box
    description: Unified Box account, setup, lifecycle, prompting, event history, desktop access, and SSH operations.
components:
  securitySchemes:
    BoxBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: box_api_key
      description: Box bearer token in the form `box_...`. Service API keys authenticate Box operations.
  parameters:
    BoxId:
      name: boxId
      in: path
      required: true
      schema:
        type: string
        pattern: '^bx_[23456789abcdefghjkmnpqrstuvwxyz]{8}$'
      description: Public Box id returned by create/list/get box calls.
    ProcessId:
      name: processId
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
      description: Process id returned by a detached command start.
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 100 }
      description: Maximum items to return.
    Cursor:
      name: cursor
      in: query
      schema: { type: [string, 'null'] }
      description: Opaque pagination cursor returned as `pageInfo.nextCursor`.
    Sort:
      name: sort
      in: query
      schema: { type: string, enum: [asc, desc], default: desc }
      description: Sort direction for cursor pagination.
    SnapshotId:
      name: snapshotId
      in: path
      required: true
      schema: { type: string, format: uuid }
      description: Snapshot id returned by the snapshot list/latest calls.
    OperationId:
      name: operationId
      in: path
      required: true
      schema: { type: string, pattern: '^bdop_[a-f0-9]{32}$' }
      description: Deletion operation id returned by an accepted delete request.
    ConfirmDelete:
      name: X-Ascii-Confirm-Delete
      in: header
      required: true
      schema: { type: string }
      description: Must exactly equal the target `boxId` or `snapshotId`. A missing or mismatched value returns `409` without accepting deletion.
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema: { type: string, maxLength: 255 }
      description: >-
        Optional exactly-once key for creating a box. Send your own opaque,
        account-unique value (a UUID) to make `POST /boxes` safe to retry when the
        response is lost (network timeout, 5xx): the first request creates the box
        and binds it to the key; every later request with the **same account, key,
        and request body** returns that same box instead of creating a second,
        billable one. Behavior: keys are retained for **24 hours**; a concurrent or
        early retry while the first box is still being minted returns `409`
        `idempotency_in_progress` (retry shortly, same key); reusing a key with a
        **different body** returns `409` `idempotency_key_reused`; timeouts and 5xx
        are safe to retry with the same key; a create that fails before the box
        exists releases the key within ~2 minutes so a retry can create the box.
        Omit the header to keep the default (non-idempotent) behavior.
    OrgId:
      name: org
      in: query
      required: false
      schema: { type: string }
      description: >-
        Billing wallet for this request. A team id you belong to reads that team's
        limits / bills a create to that team. Your own account id is personal.
        Boxes, snapshots, and environments stay creator-private.
    OrgHeader:
      name: X-Box-Org
      in: header
      required: false
      schema: { type: string }
      description: Same as the `org` query parameter. Query wins when both are set.
  schemas:
    SuccessBase:
      type: object
      required: [ok, type]
      properties:
        ok:
          type: boolean
          examples: [true]
        type:
          type: string
          description: Stable success envelope discriminator added by v1.
    ErrorEnvelope:
      type: object
      required: [ok, type, status, code, message, error, requestId]
      properties:
        ok:
          type: boolean
          examples: [false]
        type:
          type: string
          examples: [box.error]
        status:
          type: integer
          examples: [409]
        code:
          type: string
          examples: [provider_not_configured]
        message:
          type: string
          examples: [Prompting is locked until Codex is configured on the Agents page.]
        requestId:
          type: string
          examples: [req_01HX...]
        error:
          type: object
          required: [code, message, status]
          properties:
            code:
              type: string
            message:
              type: string
            status:
              type: integer
            details:
              type: object
              additionalProperties: true
    Box:
      type: object
      required: [id, name, state, desktopAvailable, snapshotAvailable]
      properties:
        id:
          type: string
          pattern: '^bx_[23456789abcdefghjkmnpqrstuvwxyz]{8}$'
          examples: [bx_23456789]
        name:
          type: string
          examples: [Box 2026-05-31 12:00]
        state:
          type: string
          enum: [init, provisioning, provisioned, cloning, ready, idle, running, archiving, archived, error]
        type:
          type: string
          enum: [small, default, large, bare-metal]
          description: Machine size this box was created with. Fixed for the life of the box.
        vcpu:
          type: integer
          description: vCPUs guaranteed by this box's type.
          examples: [4]
        memoryGB:
          type: integer
          description: RAM in GB guaranteed by this box's type.
          examples: [8]
        billingMultiplier:
          type: number
          description: Rate at which this box consumes machine time. 0.5 for `small`, 1 for `default`, 2 for `large`.
          examples: [1]
        url:
          type: [string, 'null']
          format: uri
          description: Machine URL when assigned.
        ip:
          type: [string, 'null']
          description: Machine IPv6 or IPv4 address when assigned.
        createdAt:
          type: [string, 'null']
          format: date-time
        updatedAt:
          type: [string, 'null']
          format: date-time
        archiveAfter:
          type: [string, 'null']
          format: date-time
          description: Automatic archival time, or null when auto-stop is disabled.
        desktopAvailable:
          type: boolean
        desktopUrl:
          type: [string, 'null']
          format: uri
          description: Secret-bearing desktop stream URL when available. Redact from logs.
        snapshotAvailable:
          type: boolean
        snapshotCompletedAt:
          type: [string, 'null']
          format: date-time
          description: Timestamp of the most recent successfully completed snapshot, or null.
        subdomain:
          type: [string, 'null']
          description: The box's stable three-word subdomain slug (e.g. "frazil-pneuma-rallye"), or null before one is assigned.
        lastSnapshotAttemptAt:
          type: [string, 'null']
          format: date-time
          description: Timestamp of the most recent snapshot attempt of any status (queued, in_progress, completed, failed, cancelled), or null. Use with snapshotCompletedAt to detect snapshots that keep failing.
        lastSnapshotStatus:
          type: [string, 'null']
          enum: [queued, in_progress, completed, failed, cancelled, null]
          description: Status of the most recent snapshot attempt, or null if none. A value other than completed while snapshotCompletedAt stays stale indicates failing snapshots.
        setupStatus:
          type: [string, 'null']
          enum: [pending, running, done, failed, null]
          description: >-
            Outcome of the create-time `setupScript`: `pending` (stored, not yet
            started), `running` (executing on the box in the background), `done`
            (exit code 0) or `failed` (non-zero exit, or the box lost track of
            the process). Null when the box was created without a setup script.
        setupError:
          type: [string, 'null']
          description: Short failure detail (exit code plus a stderr tail) when `setupStatus` is `failed`; while `pending`, may carry the last start/upload error from a retry in progress. Otherwise null.
        environment:
          type: [string, 'null']
          description: >-
            Name of the Box environment this box is running, or null if it is attached to
            none (a `noEnv` box, or one whose environment was deleted). A box freezes onto
            one environment version when it starts and keeps it for life, so this is what
            the box actually holds, not what the environment says today.
          examples: [base]
        environmentVersion:
          type: [integer, 'null']
          description: >-
            Version number of `environment` that this box is pinned to. Compare it against
            the environment's latest version to see whether an upgrade is pending: a box
            below the latest is still running the older configuration until someone calls
            `POST /environments/{environmentId}/upgrade`.
          examples: [3]
    ApiKey:
      type: object
      required: [id, name, keyPrefix, keyLastFour, sandboxId, createdAt, lastUsedAt, usage, resources]
      properties:
        id:
          type: string
          examples: [sak_123]
        name:
          type: string
          examples: [Production worker]
        keyPrefix:
          type: string
          examples: [box_live]
        keyLastFour:
          type: string
          examples: [9abc]
        sandboxId:
          type: [string, 'null']
          description: Box ID for a platform-managed machine key, or null for a user-created key.
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: [string, 'null']
          format: date-time
        usage:
          $ref: '#/components/schemas/ApiKeyRequestUsage'
        resources:
          $ref: '#/components/schemas/ApiKeyResourceTotals'
    ApiKeyRequestUsage:
      type: object
      required: [requests, windowDays]
      properties:
        requests:
          type: integer
          minimum: 0
          description: Requests authenticated with this key during the current UTC day and the previous 29 UTC days.
          examples: [1842]
        windowDays:
          type: integer
          const: 30
    ApiKeyResourceTotals:
      type: object
      required: [total, boxes, agents]
      properties:
        total:
          type: integer
          minimum: 0
        boxes:
          type: integer
          minimum: 0
        agents:
          type: integer
          minimum: 0
    ApiKeyCreatedResource:
      type: object
      required: [kind, id, name, state, createdAt]
      properties:
        kind:
          type: string
          enum: [box, agent]
        id:
          type: string
        name:
          type: string
        state:
          type: string
        createdAt:
          type: [string, 'null']
          format: date-time
    WebhookEventType:
      type: string
      enum: [box.ready, box.error, box.archived, box.hydrated]
    Webhook:
      type: object
      required: [id, name, url, events, createdAt, updatedAt]
      properties:
        id:
          type: string
          pattern: '^wh_[a-f0-9]{24}$'
          examples: [wh_0123456789abcdef01234567]
        name:
          type: [string, 'null']
          maxLength: 100
          examples: [Production automation]
        url:
          type: string
          format: uri
          description: Public HTTPS endpoint on port 443.
          examples: [https://example.com/hooks/box]
        events:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/WebhookEventType'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    WebhookCreateRequest:
      type: object
      required: [url, events]
      properties:
        name:
          type: [string, 'null']
          minLength: 1
          maxLength: 100
        url:
          type: string
          format: uri
        events:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/WebhookEventType'
    WebhookUpdateRequest:
      type: object
      minProperties: 1
      properties:
        name:
          type: [string, 'null']
          maxLength: 100
        url:
          type: string
          format: uri
        events:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/WebhookEventType'
    WebhookEvent:
      type: object
      required: [id, type, createdAt, data]
      description: JSON body sent to the registered endpoint. This is not a v1 success envelope.
      properties:
        id:
          type: string
          pattern: '^evt_[a-f0-9]{32}$'
        type:
          $ref: '#/components/schemas/WebhookEventType'
        createdAt:
          type: string
          format: date-time
        data:
          type: object
          required: [box, previousState, state]
          properties:
            box:
              type: object
              required: [id, name]
              properties:
                id:
                  type: string
                  pattern: '^bx_[23456789abcdefghjkmnpqrstuvwxyz]{8}$'
                name:
                  type: string
            previousState:
              type: string
            state:
              type: string
    Repository:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
          description: GitHub repository id.
        databaseId:
          type: string
          description: Internal repository id used when selecting repositories.
        name:
          type: string
        fullName:
          type: string
          examples: [acme/web]
        private:
          type: boolean
        permissions:
          type: string
        pushedAt:
          type: [string, 'null']
          format: date-time
    SelectedRepository:
      allOf:
        - $ref: '#/components/schemas/Repository'
        - type: object
          properties:
            baseBranch:
              type: string
              examples: [main]
            setupRoutineId:
              type: [string, 'null']
            setupScript:
              type: string
            setupBlocking:
              type: boolean
    RepositoryInstallation:
      type: object
      properties:
        type:
          type: string
          examples: [Organization]
        accountLogin:
          type: string
          examples: [acme]
        accountAvatarUrl:
          type: [string, 'null']
          format: uri
        repositories:
          type: array
          items:
            $ref: '#/components/schemas/Repository'
    SecretFile:
      type: object
      required: [path, contents]
      properties:
        path:
          type: string
          examples: [.config/service-account.json]
        contents:
          type: string
          description: Secret file contents. Treat as sensitive.
    StartWindowUsage:
      type: [object, 'null']
      description: One rolling start window. Null when the account is unlimited.
      properties:
        limit: { type: integer }
        used: { type: integer }
        remaining: { type: integer }
    LimitsFields:
      type: object
      required: [activeBoxes, maxActiveBoxes, canStart, billingStatus]
      additionalProperties: true
      properties:
        accessTier:
          type: string
          examples: [trial]
        blockedReason:
          type: [string, 'null']
        currentLimits:
          type: object
          additionalProperties: true
          properties:
            activeBoxes: { type: integer }
            creationRatePerMinute: { type: integer }
            creationRequestsPerDay: { type: [integer, 'null'] }
        standardLimits:
          type: object
          additionalProperties: true
          properties:
            activeBoxes: { type: integer }
            creationRatePerMinute: { type: integer }
            creationRequestsPerDay: { type: [integer, 'null'] }
        trialLimits:
          type: object
          additionalProperties: true
          properties:
            activeBoxes: { type: integer }
            creationRatePerMinute: { type: integer }
            creationRequestsPerDay: { type: [integer, 'null'] }
        upgradeEffects:
          type: object
          additionalProperties: true
        canStart:
          type: boolean
          description: Whether the authenticated account can create or operate boxes right now.
        checkoutRequired:
          type: boolean
        startBlockedReason:
          type: [string, 'null']
        contactMessage:
          type: [string, 'null']
        activeBoxes:
          type: integer
        activeStates:
          type: array
          items:
            type: string
        maxActiveBoxes:
          type: integer
        maxCreationRequestsPerMinute:
          type: integer
        maxCreationRequestsPerDay:
          type: [integer, 'null']
        startLimits:
          type: [object, 'null']
          description: Plan caps for machine starts. Null on unlimited accounts. Create, fork and resume each count as one start.
          properties:
            perMinute: { type: integer }
            perHour: { type: integer }
            perDay: { type: integer }
        starts:
          type: object
          description: Remaining machine starts in the rolling minute, hour and day windows. Null windows mean the account is unlimited.
          properties:
            unlimited: { type: boolean }
            minute:
              $ref: '#/components/schemas/StartWindowUsage'
            hour:
              $ref: '#/components/schemas/StartWindowUsage'
            day:
              $ref: '#/components/schemas/StartWindowUsage'
        creditBalanceHours:
          type: [number, 'null']
          description: Remaining machine time in hours (`creditBalanceSeconds / 3600`). Null on unlimited accounts.
        packBalanceHours:
          type: number
          description: Remaining purchased credit packs in hours.
        packBalanceDollars:
          type: number
          description: Remaining purchased credit packs in dollars.
        hasPaymentHistory:
          type: boolean
        package:
          type: object
          additionalProperties: true
        subscriptionQuotaSeconds:
          type: integer
        subscriptionRemainingSeconds:
          type: integer
        packBalanceSeconds:
          type: integer
        creditPurchasedSeconds:
          type: integer
        creditUsedSeconds:
          type: integer
        liveUsageSeconds:
          type: integer
        creditSecondsPerDollar:
          type: integer
        billingStatus:
          type: string
          description: Account access state returned by the current backend. Billing endpoints are not part of v1.
        subscriptionStatus:
          type: [string, 'null']
        subscriptionCancelAtPeriodEnd:
          type: boolean
        hasSubscription:
          type: boolean
        subscriptionTrialEndsAt:
          type: [string, 'null']
          format: date-time
        subscriptionCurrentPeriodEnd:
          type: [string, 'null']
          format: date-time
        creditBalanceSeconds:
          type: integer
        teamId:
          type: string
          description: Present when limits were read for a team wallet (`?teamId=`, `?org=`, or `X-Box-Org`).
        teamRole:
          type: string
          description: Caller's role on that team when `teamId` is present.
    CreateBoxRequest:
      type: object
      description: Options for provisioning a new cloud computer.
      properties:
        type:
          type: string
          enum: [small, default, large]
          default: default
          description: >-
            Machine size. `small` is 2 vCPUs / 4 GB RAM and consumes machine time at half rate;
            `default` is 4 vCPUs / 8 GB RAM; `large` is 8 vCPUs / 16 GB RAM and consumes machine
            time twice as fast (see the Billing guide). A box keeps its type for
            life: stopping, resuming and forking all preserve it, and forks inherit the source
            box's type.
        ttlSeconds:
          oneOf:
            - type: integer
              minimum: 1
              maximum: 2592000
            - type: 'null'
          default: 3600
          description: Number of seconds before automatic archival. `null` disables auto-stop. The backend also accepts the string `infinite` for legacy compatibility; new clients should send null.
        env:
          type: object
          additionalProperties:
            type: string
          description: >-
            Per-box environment variables injected into the box's tool environment, on top of the
            account environment's variables (per-box values win on conflicts). Keys must match
            `[A-Za-z_][A-Za-z0-9_]{0,127}`; at most 100 variables and 64KB total. Reserved names
            (`ASCII_TOKEN`, `ASCII_API_URL`, `AGENT_ID`, `PRODUCT_MODE`, `ENVIRONMENT_ID`, `BOX_ID`,
            `SERVICE_PREVIEW_TOKEN`, `BOX_CLI_TOKEN`) are rejected with `invalid_env`. Forked boxes
            inherit the source box's env unless the fork request supplies its own `env`.
        environment:
          type: string
          default: base
          description: >-
            Name of the Box environment to attach to this box. Environments are managed in the
            Box dashboard and bundle the repositories, secrets, and credential toggles a box
            gets. Omit to use your default environment (`base` unless you changed it). Unknown
            names are rejected with `unknown_environment`. An environment marked "safe for third parties" passes nothing
            to the box, exactly like `noEnv`.
          examples: [base, customer-demos]
        noEnv:
          type: boolean
          default: false
          description: >-
            Create a box with none of the secrets attached to your account (no environment
            variables, secret files, or credentials), confined to itself so it cannot act on your
            account or other boxes. For boxes you give to your own users. SSH, SCP, desktop,
            snapshots, and public URLs still work; pass `env` to give the box a secret of its own.
            A fork of a no-env box is always no-env. Equivalent to attaching an environment marked
            "safe for third parties".
        setupScript:
          type: string
          maxLength: 65536
          description: >-
            Shell script that runs on the box after it is ready. Ready means
            "ready to accept the user", not "setup done": the script starts in
            the background once provisioning completes and never blocks the box
            becoming usable. It runs as the box user via `bash`, with the box's
            environment applied, and its output goes to a log file on the box.
            Observe the outcome as `setupStatus` (pending/running/done/failed)
            and `setupError` on the box. Rejected with a 400 `invalid_setup_script`
            error when it is not a string or exceeds 64KB.
        org:
          type: string
          description: >-
            Bill this box to a team you belong to (the team's shared wallet). Your own
            account id means personal billing. Listing, snapshots, and environments stay
            yours — the org is a wallet, not a shared workspace. Takes precedence over
            `teamId` and over the `X-Box-Org` / `?org=` request scope.
        teamId:
          type: string
          description: Legacy alias for `org`. Ignored when `org` is also set.
        from:
          type: string
          description: >-
            Create the box from a named snapshot (saved with `POST /named-snapshots`, or
            `box snapshot <id> <name>` in the CLI). The box starts from that exact frozen
            state. Omitting `type` inherits the type the snapshot was saved from; env and
            no-env inherit from the snapshot's source box unless the request passes its own,
            with the same rules as forking.
      examples:
        - ttlSeconds: 3600
        - ttlSeconds: null
        - type: large
          ttlSeconds: 3600
        - ttlSeconds: 3600
          env:
            DATABASE_URL: postgres://user:pass@host:5432/app
            FEATURE_FLAG: "1"
        - ttlSeconds: null
          noEnv: true
    StopRequest:
      type: object
      description: Options for stopping a Box.
      properties:
        force:
          type: boolean
          default: false
          description: >-
            Stop the box even if its disk cannot be snapshotted. Everything written
            since the last successful snapshot is permanently LOST. Without this, a box
            whose snapshot pipeline is failing is left running rather than discarding
            your work, and you are not billed for that time. Only use this after a stop
            has already been refused.
    ResumeRequest:
      type: object
      description: Options for resuming a stopped Box.
      properties:
        type:
          type: string
          enum: [small, default, large]
          description: >-
            Resume onto a different machine size. Omit to keep the box's current type.
            A resume already restores onto a fresh machine, so changing size costs nothing
            extra. Shrinking is rejected with `type_too_small` when the box's data would
            not fit the smaller disk.
        env:
          type: object
          additionalProperties:
            type: string
          description: >-
            Replaces the box's per-box environment variables. Omit to keep the box's
            current env. Same validation rules as `CreateBoxRequest.env`.
        environment:
          type: string
          description: >-
            Optionally re-pin the box to a different named Box environment on resume. Omit to
            keep the box's current environment. Unknown names are rejected with
            `unknown_environment`.
          examples: [base, customer-demos]
        noEnv:
          type: boolean
          description: >-
            Resume into a no-env box: withhold account secrets and scrub inherited owner
            secrets from the restored snapshot before the box is exposed. One-way; once a
            box is resumed as no-env it stays no-env on later resumes.
        ttlSeconds:
          oneOf:
            - type: integer
              minimum: 1
              maximum: 2592000
            - type: 'null'
          description: >-
            Auto-stop for the resumed Box, in seconds, stored on the Box. Omit to keep
            the TTL the Box already had. `null` disables auto-stop, which means nothing
            will ever stop this Box for you.
      examples:
        - ttlSeconds: 28800
        - type: large
          ttlSeconds: 3600
    UpdateBoxRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
          description: New display name. Empty strings are rejected; longer names are truncated to 120 chars by the backend.
        ttlSeconds:
          oneOf:
            - type: integer
              minimum: 1
              maximum: 2592000
            - type: 'null'
          description: New archival TTL. `null` disables auto-stop.
        subdomain:
          type: string
          minLength: 3
          maxLength: 40
          pattern: '^[a-z0-9]([a-z0-9-]*[a-z0-9])?$'
          description: >-
            Rename the Box's stable subdomain (the `<subdomain>.on.ascii.dev` label).
            Lowercase letters, digits and hyphens; no leading/trailing/double hyphens;
            cannot end in `-desktop` or `-<number>` (reserved for the desktop and
            hosted-port URLs). Must be globally unique. The base URL, desktop URL and
            every live `host <port>` URL are re-pointed to the new name with no
            downtime and their access tokens preserved; the old URLs stop resolving.
            On a transient routing error the rename is saved but returns 502
            `gateway_error` - retry with the same value to finish activating routes.
      examples:
        - name: Customer support run
          ttlSeconds: 7200
        - subdomain: acme-staging
    PromptRequest:
      type: object
      description: |
        Work item to queue inside an existing Box. Provider credentials must already be configured in the Box dashboard.

        Provider values: `codex`, `claude-code`; the backend currently also accepts `claude` as an alias for `claude-code`.

        Recommended model ids come from `backend/models.json`: Codex `gpt-5.6-sol`, `gpt-5.6-terra`, `gpt-5.6-luna`, `gpt-5.5`, `gpt-5.4`, `gpt-5.4-mini`, `gpt-5.3-codex`; Claude Code `claude-fable-5`, `opus-5`, `opus`, `sonnet`, `haiku`. If omitted, the user's saved provider default is used.
      required: [provider, prompt]
      properties:
        provider:
          type: string
          enum: [codex, claude-code, claude]
        model:
          type: [string, 'null']
          description: Optional provider model id. Prefer the documented ids; unknown explicit ids are currently forwarded rather than rejected by request validation.
          examples: [gpt-5.6-terra, claude-fable-5, sonnet]
        reasoningEffort:
          type: [string, 'null']
          description: Optional reasoning effort. Codex supports `none`, `low`, `medium`, `high`, `xhigh`, `max` for GPT-5.6 Sol/Terra/Luna, `none`, `low`, `medium`, `high`, `xhigh` for GPT-5.4/5.5/5.4-mini and `low`, `medium`, `high`, `xhigh` for GPT-5.3 Codex. Claude `claude-fable-5`, `opus-5` and `opus` support `low`, `medium`, `high`, `max`; `sonnet` supports `low`, `medium`, `high`; `haiku` has no reasoning control.
          examples: [medium]
        prompt:
          type: string
          minLength: 1
          description: Natural-language task for the Box, including repo, preview, or browser-use instructions.
      examples:
        - provider: codex
          model: gpt-5.4
          reasoningEffort: medium
          prompt: Work on the selected repo, run tests, fix failures, commit the result, and report any hosted preview URL.
    RepoSelectionRequest:
      type: object
      required: [repositoryId]
      description: Idempotently selects a repository for future Boxes. If the repository is already selected, the API updates its base branch instead of returning a conflict.
      properties:
        repositoryId:
          type: string
          description: Internal repository `databaseId` returned by `GET /repos`.
        baseBranch:
          type: string
          default: main
      examples:
        - repositoryId: repo_org_123
          baseBranch: dev
    SecretsUpdateRequest:
      type: object
      description: Full replacement for the Box secret setup. Omitted `envContents` or `secretFiles` are treated as empty values, and successful updates are pushed to active Boxes.
      properties:
        envContents:
          type: string
          description: Full .env-style content to sync into Boxes. Send the complete desired file contents, not a patch.
        secretFiles:
          type: array
          description: Full list of secret files to keep configured. Send existing files again if they should remain.
          items:
            $ref: '#/components/schemas/SecretFile'
      examples:
        - envContents: "OPENAI_API_KEY=sk-...\nDATABASE_URL=postgres://..."
          secretFiles:
            - path: .config/service-account.json
              contents: '{"type":"service_account"}'
    BoxEnvironmentVersionSummary:
      type: object
      required: [id, versionNumber, boxCount, createdAt]
      description: An immutable snapshot of an environment's config. Editing an environment mints a new version; boxes stay pinned to the version they were created on until upgraded.
      properties:
        id:
          type: string
          format: uuid
        versionNumber:
          type: integer
          description: Monotonically increasing per environment; version 1 is the first.
        boxCount:
          type: integer
          description: Number of the caller's active boxes currently pinned to this version.
        createdAt:
          type: string
          format: date-time
    BoxEnvironment:
      type: object
      required: [id, name, isDefault, latestVersionId, safeForThirdParties, passGithub, passSecrets, passBoxCredentials, passAgentsCredentials, envContents, secretFiles, versions]
      description: A named Box environment. All flags/contents reflect the latest version.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          examples: [base, customer-demos]
        isDefault:
          type: boolean
          description: Exactly one environment is the default; boxes created without an `environment` name use it.
        latestVersionId:
          type: [string, 'null']
          format: uuid
        safeForThirdParties:
          type: boolean
          description: When true the environment passes nothing to a box (repos, secrets, and all credentials withheld), overriding the fine-grained flags below. Use for boxes handed to third parties.
        passGithub:
          type: boolean
          description: Attach the environment's GitHub repositories and the GitHub token (so `gh` and pushes work). Ignored when `safeForThirdParties` is true.
        passSecrets:
          type: boolean
          description: Attach the environment's env variables and secret files. Ignored when `safeForThirdParties` is true.
        passBoxCredentials:
          type: boolean
          description: Attach the box's own service/preview credentials. Ignored when `safeForThirdParties` is true.
        passAgentsCredentials:
          type: boolean
          description: Attach agent-provider credentials configured on the Agents page. Ignored when `safeForThirdParties` is true.
        envContents:
          type: string
          description: The latest version's .env-style content. Treat as sensitive.
        secretFiles:
          type: array
          items:
            $ref: '#/components/schemas/SecretFile'
        selectedRepositories:
          type: array
          description: Repositories attached to the latest version, with base branch and setup script.
          items:
            $ref: '#/components/schemas/SelectedRepository'
        versions:
          type: array
          items:
            $ref: '#/components/schemas/BoxEnvironmentVersionSummary'
    BoxEnvironmentListResponse:
      type: object
      required: [environments]
      properties:
        environments:
          type: array
          items:
            $ref: '#/components/schemas/BoxEnvironment'
    BoxEnvironmentResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        environment:
          oneOf:
            - $ref: '#/components/schemas/BoxEnvironment'
            - type: 'null'
    CreateBoxEnvironmentRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 64
          pattern: '^[a-zA-Z0-9._-]+$'
          description: Unique environment name. Letters, numbers, dot, dash, underscore; max 64 chars.
          examples: [customer-demos]
    UpdateBoxEnvironmentRequest:
      type: object
      description: Rename, set-default, and/or edit flags and contents. Any flag or content change mints a new immutable version; existing boxes are not touched until you call upgrade.
      properties:
        name:
          type: string
          description: New environment name.
        isDefault:
          type: boolean
          description: Set to true to make this the default environment (clears the flag on the previous default).
        safeForThirdParties: { type: boolean }
        passGithub: { type: boolean }
        passSecrets: { type: boolean }
        passBoxCredentials: { type: boolean }
        passAgentsCredentials: { type: boolean }
        envContents:
          type: string
          description: Full .env-style content for the new version.
        secretFiles:
          type: array
          items:
            $ref: '#/components/schemas/SecretFile'
        repositories:
          type: array
          description: Full replacement of the version's repository selection. Each item selects one repository by its internal `databaseId` (from `GET /repos`).
          items:
            type: object
            required: [repositoryId]
            properties:
              repositoryId:
                type: string
                description: Internal repository databaseId.
              baseBranch:
                type: string
                default: main
              setupScript:
                type: string
              setupBlocking:
                type: boolean
    UpgradeBoxEnvironmentRequest:
      type: object
      description: Repoint active boxes to the environment's latest version, scrubbing any owner secrets the new version drops and hot-pushing the new config.
      properties:
        agentIds:
          type: array
          items:
            type: string
          description: Restrict the upgrade to these box (agent) ids. Omit to upgrade all of the caller's active boxes that are on an older version of this environment.
    UpgradeBoxEnvironmentResponse:
      type: object
      required: [success, upgraded, failed]
      properties:
        success:
          type: boolean
        upgraded:
          type: integer
        failed:
          type: integer
    EnvironmentItemChangeResponse:
      type: object
      description: >-
        Result of a granular environment change. Every change mints a new immutable
        version holding just that delta; existing boxes stay pinned until upgraded.
      required: [success]
      properties:
        success:
          type: boolean
        versionId:
          type: string
          description: >-
            Id of the newly minted environment version. This is a version id, not the
            environment's own id: the environment id you passed in the path is unchanged.
        versionNumber:
          type: integer
    SshKeyRequest:
      type: object
      required: [key]
      properties:
        key:
          type: string
          description: Public SSH key in OpenSSH format. Private keys are rejected.
          examples: [ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAA... user@host]
    DesktopRequest:
      type: object
      additionalProperties: true
      description: Optional desktop/VNC setup options used by the Box dashboard and CLI. Most callers send an empty body.
      properties:
        publicAccess:
          type: boolean
          default: false
          description: For `?vnc=1`, return a noVNC URL that does not require an access token.
    HostPortRequest:
      type: object
      required: [port]
      properties:
        port:
          type: integer
          minimum: 1
          maximum: 65535
          description: Port the service listens on inside the Box.
        public:
          type: boolean
          default: false
          description: Return an ungated URL instead of one that requires the `_token` query parameter.
        title:
          type: string
          description: Display title for the hosted port.
    MeResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [user]
          properties:
            type:
              type: string
              const: user.info
            user:
              type: object
              properties:
                login:
                  type: string
                email:
                  type: [string, 'null']
                zeroDataRetention:
                  type: boolean
                  description: Whether archived Box data is configured for deletion instead of retention.
                zeroDataRetentionEnabledAt:
                  type: [string, 'null']
                  format: date-time
    LimitsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - $ref: '#/components/schemas/LimitsFields'
    ReposResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [installations, environmentId, selectedRepositories]
          properties:
            installations:
              type: array
              items:
                $ref: '#/components/schemas/RepositoryInstallation'
            environmentId:
              type: string
            selectedRepositories:
              type: array
              items:
                $ref: '#/components/schemas/SelectedRepository'
            pageInfo:
              $ref: '#/components/schemas/PageInfo'
    RepoSelectionResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [success, environmentId, selectedRepositories]
          properties:
            success:
              type: boolean
            environmentId:
              type: string
            selectedRepositories:
              type: array
              items:
                $ref: '#/components/schemas/SelectedRepository'
    SecretsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [environmentId, envContents, secretFiles]
          properties:
            success:
              type: boolean
            environmentId:
              type: string
            envContents:
              type: string
            secretFiles:
              type: array
              items:
                $ref: '#/components/schemas/SecretFile'
            pushed:
              type: object
              additionalProperties: true
              description: Present on update; counts how many active Boxes received the new environment.
    BoxListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [boxes]
          properties:
            type:
              type: string
              const: box.list
            boxes:
              type: array
              items:
                $ref: '#/components/schemas/Box'
            pageInfo:
              $ref: '#/components/schemas/PageInfo'
    BoxInfoResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [box]
          properties:
            type:
              type: string
              examples: [box.info]
            box:
              $ref: '#/components/schemas/Box'
    CreateBoxResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [status, ttlSeconds, box]
          properties:
            type:
              type: string
              const: box.created
            status:
              type: string
              enum: [provisioning]
            ttlSeconds:
              type: [integer, 'null']
            box:
              $ref: '#/components/schemas/Box'
    BoxActionResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [id, status]
          properties:
            type:
              type: string
              examples: [box.stopping]
            id:
              type: string
            status:
              type: string
              examples: [archiving]
            box:
              oneOf:
                - $ref: '#/components/schemas/Box'
                - type: 'null'
    PageInfo:
      type: object
      required: [nextCursor, hasMore, limit]
      properties:
        nextCursor:
          type: [string, 'null']
        hasMore:
          type: boolean
        limit:
          type: integer
    PromptRun:
      type: object
      required: [id, promptId, boxId, status, done]
      properties:
        id: { type: string }
        promptId: { type: string }
        boxId: { type: string }
        status:
          type: string
          enum: [sending, queued, running, finished, failed]
        done:
          type: boolean
        createdAt:
          type: [string, 'null']
          format: date-time
        model:
          type: [string, 'null']
        reasoningEffort:
          type: [string, 'null']
    PromptRunResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [id, promptRun]
          properties:
            type:
              type: string
              const: prompt.run
            id:
              type: string
            promptRun:
              $ref: '#/components/schemas/PromptRun'
    BoxEvent:
      type: object
      required: [type]
      additionalProperties: true
      properties:
        id:
          type: string
        type:
          type: string
        timestamp:
          type: integer
        taskId:
          type: [string, 'null']
        data:
          type: object
          additionalProperties: true
    UnknownEvent:
      type: object
      required: [type]
      additionalProperties: true
      properties:
        type: { type: string }
    PromptEvent:
      type: object
      required: [id, type, timestamp, data]
      properties:
        id: { type: string }
        type: { type: string, const: prompt }
        timestamp: { type: integer }
        taskId: { type: [string, 'null'] }
        data:
          type: object
          required: [prompt, status]
          properties:
            prompt: { type: string }
            status: { type: string, enum: [sending, queued, running, finished, failed] }
            is_reverted: { type: boolean }
    ResponseEvent:
      type: object
      required: [id, type, timestamp, data]
      description: Agent response event. Text deltas/finals and tool-call batches are both represented as response events; tool-call batches have `data.tools`.
      properties:
        id: { type: string }
        type: { type: string, const: response }
        timestamp: { type: integer }
        taskId: { type: [string, 'null'] }
        data:
          type: object
          required: [content]
          properties:
            content: { type: string }
            model: { type: [string, 'null'] }
            tools:
              type: array
              description: Tool call/result records emitted by the agent. Present for tool-call events and omitted for text-only response events.
              items: { type: object, additionalProperties: true }
            is_streaming:
              type: boolean
              description: True when this response is a streaming partial rather than the final assistant message.
    ErrorEvent:
      type: object
      required: [id, type, timestamp, data]
      properties:
        id: { type: string }
        type: { type: string, const: usage_limit }
        timestamp: { type: integer }
        taskId: { type: [string, 'null'] }
        data: { type: object, additionalProperties: true }
    CompletionEvent:
      type: object
      required: [id, type, timestamp, data]
      properties:
        id: { type: string }
        type: { type: string, const: compaction_complete }
        timestamp: { type: integer }
        taskId: { type: [string, 'null'] }
        data: { type: object, additionalProperties: true }
    FileReadResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [success, path, encoding, size, content]
          properties:
            type: { type: string, const: file.read }
            success: { type: boolean }
            path: { type: string }
            encoding: { type: string, enum: [utf8, base64] }
            size: { type: integer }
            content: { type: string }
    FileWriteRequest:
      type: object
      required: [path, content]
      properties:
        path: { type: string, description: "Absolute path, or path relative to the Box work directory (/home/user). The canonicalized path must resolve under /home/user or /tmp; anything else is rejected with a 400 invalid_path error." }
        content: { type: string }
        encoding: { type: string, enum: [utf8, base64], default: utf8 }
    FileWriteResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [success, path, encoding, size]
          properties:
            type: { type: string, const: file.written }
            success: { type: boolean }
            path: { type: string }
            encoding: { type: string, enum: [utf8, base64] }
            size: { type: integer }
    CommandRequest:
      type: object
      required: [command]
      properties:
        command: { type: string }
        cwd: { type: string, description: Relative working directory inside the Box work directory. }
        timeoutSeconds: { type: integer, minimum: 1, maximum: 600, default: 30, description: Command timeout in seconds. Values outside 1-600 are rejected with a 400 invalid_timeout error. }
        detached: { type: boolean, default: false, description: Start the command in the background and return a process id immediately instead of waiting for it to finish. Output goes to a log file on the Box; poll the status endpoint for it. }
    CommandResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [success, exitCode, stdout, stderr, timedOut]
          properties:
            type: { type: string, const: command.finished }
            success: { type: boolean }
            exitCode: { type: [integer, 'null'] }
            signal: { type: [string, 'null'] }
            stdout: { type: string }
            stderr: { type: string }
            stdoutTruncated: { type: boolean }
            stderrTruncated: { type: boolean }
            timedOut: { type: boolean }
            cwd: { type: string }
            startedAt: { type: string, format: date-time }
            finishedAt: { type: string, format: date-time }
    CommandStartedResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [success, processId, pid, command, startedAt]
          properties:
            type: { type: string, const: command.started }
            success: { type: boolean }
            processId: { type: integer, description: Process id to poll with the command status endpoint. }
            pid: { type: integer }
            command: { type: string }
            cwd: { type: string }
            startedAt: { type: string, format: date-time }
            logPath: { type: string, description: Stdout log file on the Box (~/.ascii/processes/<pid>.log). }
            errLogPath: { type: string, description: Stderr log file on the Box. }
    CommandStatusResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [success, processId, status, running, exitCode, stdout, stderr]
          properties:
            type: { type: string, const: command.status }
            success: { type: boolean }
            processId: { type: integer }
            pid: { type: integer }
            status:
              type: string
              enum: [running, exited, lost]
              description: "lost: the Box agent restarted and forgot the process; running/exitCode are then a best-effort probe and the logs come from the on-disk files."
            known: { type: boolean, description: Whether the process is still tracked by the Box agent. }
            running: { type: boolean }
            exitCode: { type: [integer, 'null'] }
            signal: { type: [string, 'null'] }
            command: { type: [string, 'null'] }
            cwd: { type: [string, 'null'] }
            startedAt: { type: [string, 'null'], format: date-time }
            finishedAt: { type: [string, 'null'], format: date-time }
            stdout: { type: string, description: Tail of the stdout log file. }
            stderr: { type: string, description: Tail of the stderr log file. }
            stdoutTruncated: { type: boolean }
            stderrTruncated: { type: boolean }
            logPath: { type: string }
            errLogPath: { type: string }
    PromptResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [id, promptId, promptRun, status, provider]
          properties:
            type:
              type: string
              const: prompt.queued
            id:
              type: string
              description: Box id.
            promptId:
              type: string
            promptRun:
              $ref: '#/components/schemas/PromptRun'
            status:
              type: string
              enum: [queued]
            provider:
              type: string
            model:
              type: [string, 'null']
            reasoningEffort:
              type: [string, 'null']
    EventsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [id, events]
          properties:
            type:
              type: string
              const: events.list
            id:
              type: string
            events:
              type: array
              description: Box work and lifecycle event objects. Event shapes are intentionally extensible; branch on each event `type` when present.
              items:
                $ref: '#/components/schemas/BoxEvent'
            pageInfo:
              $ref: '#/components/schemas/PageInfo'
    DesktopResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          additionalProperties: true
          properties:
            type:
              type: string
              examples: [desktop.url]
            success:
              type: boolean
            desktopUrl:
              type: [string, 'null']
              format: uri
              description: Secret-bearing desktop or noVNC URL. Redact from logs.
            ip:
              type: [string, 'null']
            mode:
              type: string
              examples: [vnc]
            provisioning:
              type: boolean
              description: For `?vnc=1`, true means VNC is still being prepared; poll again.
            message:
              type: string
    HostPortResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          additionalProperties: true
          properties:
            type:
              type: string
              examples: [port.hosted]
            success:
              type: boolean
            port:
              type: integer
            url:
              type: string
              format: uri
              description: Public HTTPS URL. Carries the `_token` query parameter unless the port is public; redact from logs.
            isProtected:
              type: boolean
            access:
              type: string
              enum: [private, public]
    SshKeyResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          properties:
            success:
              type: boolean
            machineIp:
              type: [string, 'null']
            sshUser:
              type: string
              examples: [user]
    ApiKeysResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [apiKeys]
          properties:
            apiKeys:
              type: array
              items:
                $ref: '#/components/schemas/ApiKey'
    ApiKeyUsageResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          required: [createdResources]
          properties:
            createdResources:
              type: array
              items:
                $ref: '#/components/schemas/ApiKeyCreatedResource'
    WebhookListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [webhooks]
          properties:
            webhooks:
              type: array
              items:
                $ref: '#/components/schemas/Webhook'
    WebhookResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [webhook]
          properties:
            webhook:
              $ref: '#/components/schemas/Webhook'
    WebhookSecretResponse:
      allOf:
        - $ref: '#/components/schemas/WebhookResponse'
        - type: object
          required: [secret]
          properties:
            secret:
              type: string
              pattern: '^whsec_[a-f0-9]{64}$'
              description: Signing secret returned only when created or rotated.
    WebhookDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [id]
          properties:
            id:
              type: string
    SnapshotSummary:
      type: object
      required: [id, boxId, status, generation, createdAt, sizeBytes, fileCount]
      properties:
        id:
          type: string
          format: uuid
        boxId:
          type: string
          description: Public Box id this snapshot belongs to.
        status:
          type: string
          enum: [completed]
        kind:
          type: [string, 'null']
          enum: [base, incremental, null]
          description: '`base` (full) or `incremental` (delta on a base). `null` for legacy snapshots.'
        generation:
          type: integer
          description: Position in the incremental chain (0 = base).
        chainId:
          type: [string, 'null']
          format: uuid
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: [string, 'null']
          format: date-time
        sizeBytes:
          type: integer
          description: Bytes this snapshot added (its delta), not the full restored size.
        fileCount:
          type: integer
          description: Inventory entries alive in the chain at this generation (includes base-image system entries).
        contentSizeBytes:
          type: [integer, 'null']
          description: Total bytes of your data restored by this snapshot (what resume/download returns; base image excluded). `null` on legacy snapshots.
        contentFileCount:
          type: [integer, 'null']
          description: Number of your files restored by this snapshot (base image excluded). `null` on legacy snapshots.
    SnapshotListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [snapshots]
          properties:
            type:
              type: string
              const: snapshot.list
            snapshots:
              type: array
              items:
                $ref: '#/components/schemas/SnapshotSummary'
            pageInfo:
              $ref: '#/components/schemas/PageInfo'
    SnapshotLatestResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [snapshot]
          properties:
            type:
              type: string
              const: snapshot.latest
            snapshot:
              oneOf:
                - $ref: '#/components/schemas/SnapshotSummary'
                - type: 'null'
    NamedSnapshot:
      type: object
      description: >-
        A named snapshot: a frozen copy of a box's disk at one moment, saved under a
        name you pick. Independent of the source box's later life — the box can change,
        stop, or be deleted and the named snapshot still deploys. Named snapshots never
        expire; re-saving a name replaces its artifact.
      required: [name, status, sourceBoxId, createdAt]
      properties:
        name:
          type: string
          pattern: '^[a-z0-9][a-z0-9-]{0,62}$'
          description: The user-chosen handle, unique within your account.
        status:
          type: string
          enum: [saving, ready, failed]
          description: >-
            `saving` while the capture and pin are in flight (a live source box takes a
            fresh snapshot first, which can run minutes), `ready` when deployable,
            `failed` if the save did not complete (see `error`; save again to retry).
        error:
          type: string
          description: Failure reason. Only present when `status` is `failed`.
        sourceBoxId:
          type: string
          description: The box this snapshot was saved from (display only).
        snapshotId:
          type: string
          description: >-
            The frozen artifact behind the name. Present once `status` is `ready`.
            Accepted by `GET /api/box/snapshots/{snapshotId}/tree` to browse its files.
        type:
          type: string
          description: Box type the snapshot was saved from. Deploys default to it.
        sizeBytes:
          type: integer
          description: Restored content size of the frozen state, in bytes.
        createdAt:
          type: string
          format: date-time
    NamedSnapshotListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [snapshots]
          properties:
            type:
              type: string
              const: snapshot.named.list
            snapshots:
              type: array
              items:
                $ref: '#/components/schemas/NamedSnapshot'
    NamedSnapshotInfoResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [snapshot]
          properties:
            type:
              type: string
              const: snapshot.named.info
            snapshot:
              $ref: '#/components/schemas/NamedSnapshot'
    NamedSnapshotSaveRequest:
      type: object
      required: [boxId, name]
      properties:
        boxId:
          type: string
          description: The box whose current state to freeze.
        name:
          type: string
          pattern: '^[a-z0-9][a-z0-9-]{0,62}$'
          description: >-
            Name to save under. 1-63 lowercase letters, digits, or dashes, starting with
            a letter or digit. Reusing one of your existing names replaces that snapshot's
            artifact. `latest`, `tree`, `pull`, `rm`, `save`, `current`, `self`, and `new`
            are reserved.
    NamedSnapshotSavingResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [status, snapshot]
          properties:
            type:
              type: string
              const: snapshot.named.saving
            status:
              type: string
              const: saving
            snapshot:
              $ref: '#/components/schemas/NamedSnapshot'
    NamedSnapshotDeletedResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [name, status]
          properties:
            type:
              type: string
              const: snapshot.named.deleted
            name:
              type: string
            status:
              type: string
              const: deleted
    SnapshotTreeEntry:
      type: object
      required: [path, kind]
      properties:
        path:
          type: string
          description: Path relative to the snapshot root. Docker named volumes appear under `__dockervol__/`.
        kind:
          type: string
          enum: [file, dir, symlink]
        size:
          type: integer
          description: File size in bytes. Omitted for directories.
    SnapshotTreeResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [snapshotId, boxId, generation, treeAvailable, truncated, fileCount, totalSizeBytes, entries]
          properties:
            type:
              type: string
              const: snapshot.tree
            snapshotId:
              type: string
              format: uuid
            boxId:
              type: string
            generation:
              type: integer
            treeAvailable:
              type: boolean
              description: '`false` for legacy snapshots or inventories too large to expand; see `reason`.'
            truncated:
              type: boolean
              description: '`true` when the file list was capped; not every entry is returned.'
            fileCount:
              type: integer
              description: Number of your files in this snapshot (base-image system files excluded).
            totalSizeBytes:
              type: integer
              description: Total bytes of your data in this snapshot (base-image system files excluded).
            entries:
              type: array
              description: Exactly the files/dirs a resume or download returns, your data only; base-image system entries are not listed.
              items:
                $ref: '#/components/schemas/SnapshotTreeEntry'
            reason:
              type: string
              description: Why the tree is unavailable, when `treeAvailable` is `false`.
              examples: [legacy_snapshot, inventory_too_large]
    SnapshotChunk:
      type: object
      required: [snapshotId, generation, chunkIndex, r2Key, sizeBytes, sha256, signedUrl]
      properties:
        snapshotId:
          type: string
          format: uuid
        generation:
          type: integer
        chunkIndex:
          type: integer
        r2Key:
          type: string
        sizeBytes:
          type: integer
        sha256:
          type: string
        signedUrl:
          type: string
          format: uri
          description: Time-limited download URL (see `expiresInSeconds`).
    SnapshotDownloadResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [snapshotId, boxId, kind, generation, expiresInSeconds, reconstruct, chunks]
          properties:
            type:
              type: string
              const: snapshot.download
            snapshotId:
              type: string
              format: uuid
            boxId:
              type: string
            kind:
              type: string
              enum: [base, incremental, legacy]
            generation:
              type: integer
            expiresInSeconds:
              type: integer
              description: Lifetime of every `signedUrl` in this response.
            reconstruct:
              type: string
              description: Human-readable note on how to reassemble the chunks into a filesystem.
            inventory:
              oneOf:
                - type: object
                  required: [r2Key, signedUrl]
                  properties:
                    r2Key: { type: string }
                    signedUrl: { type: string, format: uri }
                - type: 'null'
            chunks:
              type: array
              description: Every chunk across the chain (all generations up to and including this snapshot), ordered by `(generation, chunkIndex)`.
              items:
                $ref: '#/components/schemas/SnapshotChunk'
    DeletionOperation:
      type: object
      required: [id, kind, targetId, reason, status, attemptCount, requestedAt, completedAt]
      properties:
        id:
          type: string
          pattern: '^bdop_[a-f0-9]{32}$'
        kind:
          type: string
          enum: [box, snapshot]
        targetId:
          type: string
        reason:
          type: string
          enum: [explicit, zdr, account]
        status:
          type: string
          enum: [pending, processing, blocked, completed]
        attemptCount:
          type: integer
          minimum: 0
        requestedAt:
          type: string
          format: date-time
        completedAt:
          type: [string, 'null']
          format: date-time
    DeletionOperationResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [operation]
          properties:
            type:
              type: string
              enum: [deletion.operation, box.deleting, snapshot.deleting]
            operation:
              $ref: '#/components/schemas/DeletionOperation'
    DataRetentionPolicyResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessBase'
        - type: object
          required: [enabled, enabledAt]
          properties:
            type:
              type: string
              enum: [data_retention.info, data_retention.updated]
            enabled:
              type: boolean
            enabledAt:
              type: [string, 'null']
              format: date-time
            queuedBoxes:
              type: integer
              minimum: 0
              description: Archived Boxes newly queued for deletion by this policy update.
            acceptedDeletionOperationsIrreversible:
              type: boolean
              description: Always true on updates. Disabling the policy does not cancel accepted deletion operations.
    DataRetentionUpdateRequest:
      type: object
      required: [enabled]
      additionalProperties: false
      properties:
        enabled:
          type: boolean
        confirmation:
          type: string
          description: Required when enabling and must exactly equal `delete archived box data`.
          const: delete archived box data
  responses:
    BadRequest:
      description: Invalid request body or parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          examples:
            invalid:
              value:
                ok: false
                type: box.error
                status: 400
                code: invalid_json
                message: Request body must be valid JSON.
                error: { code: invalid_json, message: Request body must be valid JSON., status: 400 }
                requestId: req_01HX...
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          examples:
            unauthorized:
              value:
                ok: false
                type: box.error
                status: 401
                code: unauthorized
                message: Unauthorized
                error: { code: unauthorized, message: Unauthorized, status: 401 }
                requestId: req_01HX...
    Forbidden:
      description: Authenticated token is not allowed to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          examples:
            forbidden:
              value:
                ok: false
                type: box.error
                status: 403
                code: forbidden
                message: Forbidden
                error: { code: forbidden, message: Forbidden, status: 403 }
                requestId: req_01HX...
    PaymentRequired:
      description: Account cannot currently create or operate Boxes. The error body may include a dashboard billing URL, but billing actions are not part of the v1 API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Conflict:
      description: Request conflicts with current account or box state.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: >-
        Machine start or concurrent-box limit reached. Create, fork and resume each count as one
        machine start against your plan's per-minute rate, five times that per hour and three
        times the hourly rate per day (`rate_limited`, naming the window you hit). A box that
        would exceed your plan's concurrent-box cap is refused with `limit_reached`, or
        `member_limit_reached` when an organization owner has capped you below the plan.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
paths:
  /me:
    get:
      tags: [Box]
      summary: Get current Box user
      description: Returns GitHub identity for the authenticated Box account.
      operationId: me
      responses:
        '200':
          description: Current user information.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MeResponse' }
              examples:
                user:
                  value:
                    ok: true
                    type: user.info
                    user:
                      login: octocat
                      email: octocat@example.com
                      zeroDataRetention: false
                      zeroDataRetentionEnabledAt: null
        '401': { $ref: '#/components/responses/Unauthorized' }
  /account/data-retention:
    get:
      tags: [Box]
      summary: Get account data-retention policy
      description: Returns the current zero-data-retention policy. Per-Box API keys cannot access this account-wide setting. Responses are never cached.
      operationId: getDataRetention
      responses:
        '200':
          description: Current retention policy.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DataRetentionPolicyResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    patch:
      tags: [Box]
      summary: Update account data-retention policy
      description: >-
        Requires an interactive Box session; API keys and legacy permanent tokens are refused.
        Enabling requires the exact confirmation phrase `delete archived box data`. Disabling
        affects future archives only and cannot cancel deletion operations already accepted.
      operationId: updateDataRetention
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DataRetentionUpdateRequest' }
      responses:
        '200':
          description: Updated retention policy. Responses are never cached.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DataRetentionPolicyResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
  /deletion-operations/{operationId}:
    get:
      tags: [Box]
      summary: Get deletion operation
      description: Poll an accepted Box or snapshot deletion. Only operations owned by the authenticated account are returned. Responses are never cached.
      operationId: getDeletionOperation
      parameters:
        - $ref: '#/components/parameters/OperationId'
      responses:
        '200':
          description: Current deletion operation state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeletionOperationResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /limits:
    get:
      tags: [Box]
      summary: Get Box limits
      description: Check remaining machine starts, compute time, credits, access readiness, and concurrent-box capacity for the authenticated account. Pass `org` / `X-Box-Org` (or `teamId`) to read a team wallet you belong to.
      operationId: limits
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/OrgHeader'
        - name: teamId
          in: query
          required: false
          schema: { type: string }
          description: Legacy alias for `org`. Takes precedence over `org` / `X-Box-Org` when set.
      responses:
        '200':
          description: Current creation and concurrent-box limits.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LimitsResponse' }
              examples:
                ready:
                  value:
                    ok: true
                    type: limits.info
                    canStart: true
                    activeBoxes: 1
                    activeStates: [provisioned, cloning, ready, idle, running]
                    boxPlanKey: box_20
                    boxPlanDollars: 20
                    maxActiveBoxes: 100
                    maxCreationRequestsPerMinute: 10
                    maxCreationRequestsPerDay: null
                    startLimits: { perMinute: 10, perHour: 50, perDay: 150 }
                    starts:
                      unlimited: false
                      minute: { limit: 10, used: 3, remaining: 7 }
                      hour: { limit: 50, used: 12, remaining: 38 }
                      day: { limit: 150, used: 47, remaining: 103 }
                    billingStatus: active
                    creditBalanceSeconds: 7200
                    creditBalanceHours: 2
                    packBalanceSeconds: 500000
                    packBalanceHours: 138.89
                    packBalanceDollars: 5
        '401': { $ref: '#/components/responses/Unauthorized' }
  /repos:
    get:
      tags: [Box]
      summary: List GitHub repositories available to Box
      description: Returns GitHub repositories grouped by installation plus the current selected repositories for new Boxes.
      operationId: repos
      parameters:
        - name: sync
          in: query
          schema: { type: boolean }
          description: When true, sync from GitHub before returning repository groups.
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Sort'
        - name: q
          in: query
          schema: { type: string }
          description: Case-insensitive repository name/fullName filter.
        - name: selected
          in: query
          schema: { type: boolean }
          description: Filter to selected or unselected repositories.
      responses:
        '200':
          description: Repository groups and current Box repository selection.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReposResponse' }
              examples:
                repos:
                  value:
                    ok: true
                    type: repos.list
                    environmentId: env_123
                    installations:
                      - type: Organization
                        accountLogin: acme
                        accountAvatarUrl: https://github.com/acme.png
                        repositories:
                          - id: 123456
                            databaseId: repo_org_123456
                            name: web
                            fullName: acme/web
                            description: Marketing site
                            url: https://github.com/acme/web
                            private: true
                            permissions: admin
                            pushedAt: '2026-05-31T12:00:00Z'
                    selectedRepositories:
                      - id: 123456
                        databaseId: repo_org_123456
                        name: web
                        fullName: acme/web
                        private: true
                        permissions: admin
                        pushedAt: '2026-05-31T12:00:00Z'
                        baseBranch: dev
                        setupRoutineId: null
                        setupScript: ''
                        setupBlocking: false
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
    post:
      tags: [Box]
      summary: Select repository for Boxes
      description: Idempotently selects one repository for the Box environment. Use `databaseId` from `GET /repos` as `repositoryId`; selecting an already-selected repository updates its `baseBranch`.
      operationId: selectRepo
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RepoSelectionRequest' }
      responses:
        '200':
          description: Updated repository selection.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepoSelectionResponse' }
              examples:
                selected:
                  value:
                    ok: true
                    type: repos.updated
                    success: true
                    environmentId: env_123
                    selectedRepositories:
                      - databaseId: repo_org_123456
                        name: web
                        fullName: acme/web
                        baseBranch: dev
                        setupRoutineId: null
                        setupScript: ''
                        setupBlocking: false
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
  /api-keys:
    get:
      tags: [Box]
      summary: List API keys
      description: Lists API key metadata only. Raw key secrets are not returned after creation/rotation. Results are scoped to the authenticated Box account.
      operationId: apiKeys
      responses:
        '200':
          description: API key metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeysResponse' }
              examples:
                keys:
                  value:
                    ok: true
                    type: api_key.list
                    apiKeys:
                      - id: sak_123
                        name: Production worker
                        keyPrefix: box_live
                        keyLastFour: 9abc
                        sandboxId: null
                        createdAt: '2026-05-31T12:00:00Z'
                        lastUsedAt: null
                        usage:
                          requests: 1842
                          windowDays: 30
                        resources:
                          total: 3
                          boxes: 2
                          agents: 1
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api-keys/{apiKeyId}/usage:
    parameters:
      - name: apiKeyId
        in: path
        required: true
        description: API key ID returned by `GET /api-keys`.
        schema: { type: string }
    get:
      tags: [Box]
      summary: Get API key usage
      description: Returns the key's request total for the 30-day UTC window and the Boxes and Agents it created that still exist, including Boxes that never got a Sandbox row. Works for revoked keys owned by the authenticated account.
      operationId: apiKeyUsage
      responses:
        '200':
          description: Usage and created resources for the key.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyUsageResponse' }
              examples:
                usage:
                  value:
                    ok: true
                    type: api_key.usage
                    id: sak_123
                    name: Production worker
                    keyPrefix: box_live
                    keyLastFour: 9abc
                    sandboxId: null
                    createdAt: '2026-05-31T12:00:00Z'
                    lastUsedAt: '2026-08-25T09:30:00Z'
                    usage:
                      requests: 1842
                      windowDays: 30
                    resources:
                      total: 2
                      boxes: 1
                      agents: 1
                    createdResources:
                      - kind: box
                        id: bx_123
                        name: CI build
                        state: ready
                        createdAt: '2026-08-24T14:00:00Z'
                      - kind: agent
                        id: agent_456
                        name: Review
                        state: idle
                        createdAt: '2026-08-23T12:00:00Z'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /webhooks:
    get:
      tags: [Box]
      summary: List webhooks
      description: Lists account-wide Box lifecycle webhook endpoints. Signing secrets are never included.
      operationId: listWebhooks
      responses:
        '200':
          description: Registered webhook endpoints.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookListResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Box]
      summary: Create webhook
      description: |
        Registers an account-wide endpoint for Box lifecycle events. The endpoint must use HTTPS on port 443 and resolve only to public addresses. Redirects are not followed during delivery.

        The signing secret is returned only in this response. An account can register at most 10 unique endpoint URLs.
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookCreateRequest' }
            examples:
              readyAndError:
                value:
                  name: Production automation
                  url: https://example.com/hooks/box
                  events: [box.ready, box.error]
      responses:
        '201':
          description: Webhook created. Store the one-time signing secret now.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookSecretResponse' }
              examples:
                created:
                  value:
                    ok: true
                    type: webhook.created
                    webhook:
                      id: wh_0123456789abcdef01234567
                      name: Production automation
                      url: https://example.com/hooks/box
                      events: [box.ready, box.error]
                      createdAt: '2026-08-11T12:00:00Z'
                      updatedAt: '2026-08-11T12:00:00Z'
                    secret: whsec_0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
  /webhooks/{webhookId}:
    parameters:
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
          pattern: '^wh_[a-f0-9]{24}$'
    get:
      tags: [Box]
      summary: Get webhook
      description: Returns webhook metadata without the signing secret.
      operationId: getWebhook
      responses:
        '200':
          description: Webhook metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Box]
      summary: Update webhook
      description: Updates the name, endpoint URL, or subscribed events without changing the signing secret.
      operationId: updateWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookUpdateRequest' }
      responses:
        '200':
          description: Updated webhook metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Box]
      summary: Delete webhook
      description: Deletes the endpoint and its queued deliveries. An attempt already in flight can still arrive.
      operationId: deleteWebhook
      responses:
        '200':
          description: Webhook deleted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookDeleteResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /webhooks/{webhookId}/rotate:
    parameters:
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
          pattern: '^wh_[a-f0-9]{24}$'
    post:
      tags: [Box]
      summary: Rotate webhook signing secret
      description: Replaces the endpoint's signing secret. The new secret is returned only in this response; briefly accept the old secret for attempts already in flight.
      operationId: rotateWebhookSigningSecret
      responses:
        '200':
          description: Signing secret rotated. Store the new secret now.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookSecretResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /secrets:
    get:
      tags: [Box]
      summary: Get Box secrets setup
      description: Returns the environment variables and secret files configured for Boxes.
      operationId: secrets
      responses:
        '200':
          description: Current secret setup metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SecretsResponse' }
              examples:
                secrets:
                  value:
                    ok: true
                    type: secrets.info
                    environmentId: env_123
                    envContents: "OPENAI_API_KEY=sk-...\n"
                    secretFiles:
                      - path: .config/service-account.json
                        contents: '{"type":"service_account"}'
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Box]
      summary: Update Box secrets setup
      operationId: updateSecrets
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SecretsUpdateRequest' }
      responses:
        '200':
          description: Updated secret setup metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SecretsResponse' }
              examples:
                updated:
                  value:
                    ok: true
                    type: secrets.updated
                    success: true
                    environmentId: env_123
                    envContents: "OPENAI_API_KEY=sk-...\n"
                    secretFiles: []
                    pushed: { updated: 2, failed: 0 }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /environments:
    get:
      tags: [Box]
      summary: List Box environments
      description: Returns every non-deleted Box environment with its latest-version flags, contents, and per-version box usage. A default environment named `base` is created on first access if none exists.
      operationId: environments
      responses:
        '200':
          description: The account's Box environments.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BoxEnvironmentListResponse' }
              examples:
                environments:
                  value:
                    environments:
                      - id: 8f1c2d3e-0000-4000-8000-000000000001
                        name: default
                        isDefault: true
                        latestVersionId: 8f1c2d3e-0000-4000-8000-0000000000a1
                        safeForThirdParties: false
                        passGithub: true
                        passSecrets: true
                        passBoxCredentials: true
                        passAgentsCredentials: true
                        envContents: "OPENAI_API_KEY=sk-...\n"
                        secretFiles: []
                        versions:
                          - id: 8f1c2d3e-0000-4000-8000-0000000000a1
                            versionNumber: 1
                            boxCount: 3
                            createdAt: '2026-06-01T12:00:00Z'
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Box]
      summary: Create a Box environment
      description: Create a new named environment. It starts on version 1 with all fine-grained flags on and `safeForThirdParties` off.
      operationId: createEnvironment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateBoxEnvironmentRequest' }
      responses:
        '200':
          description: Environment created; full list returned.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BoxEnvironmentListResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
  /environments/{environmentId}:
    parameters:
      - name: environmentId
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Environment id returned by `GET /environments`.
    put:
      tags: [Box]
      summary: Update a Box environment
      description: Rename, set as default, and/or edit flags and contents. Any flag or content change mints a new immutable version; existing boxes stay on their pinned version until you call upgrade.
      operationId: updateEnvironment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateBoxEnvironmentRequest' }
      responses:
        '200':
          description: Updated environment.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BoxEnvironmentResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Box]
      summary: Delete a Box environment
      description: Soft-deletes an environment. The default environment cannot be deleted, and at least one environment is always kept.
      operationId: deleteEnvironment
      responses:
        '200':
          description: Environment soft-deleted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BoxEnvironmentResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
  /environments/{environmentId}/upgrade:
    post:
      tags: [Box]
      summary: Upgrade boxes to an environment's latest version
      description: Repoints the caller's active boxes from an older version of this environment to its latest version, scrubbing any owner secrets the new version drops and hot-pushing the new config.
      operationId: upgradeEnvironment
      parameters:
        - name: environmentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpgradeBoxEnvironmentRequest' }
      responses:
        '200':
          description: Upgrade result counts.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpgradeBoxEnvironmentResponse' }
              examples:
                upgraded:
                  value:
                    success: true
                    upgraded: 2
                    failed: 0
        '401': { $ref: '#/components/responses/Unauthorized' }
[...]
